.hero {
  height: 100vh;
  background: url("DSC_6656.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.4));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section {
  padding: 80px 20px;
  text-align: center;
}

.invitation,
.event,
.countdown {
  background-image: url("fondo rosa.png");
  background-repeat: repeat;
  background-size: 320px auto;
}

.photo-full {
  height: 80vh;
  background: url("OLI ELEGIDAS (6).jpg") center/cover no-repeat;
}
